.user.main header {background: transparent;}
.user.main header.scroll {background: var(--mainColor3);}
.user.main header .hInner {padding-bottom: 0;}
.user.main header .hInner .hBot {background: transparent; height: auto;}
.user.main header .hInner .hBot .bot {display: none;}
.main.container {padding-top: 0 !important;}


.slick-slider {
    user-select: none; /* 텍스트 선택 방지 */
    -webkit-user-drag: none; /* 이미지 드래그 방지 (웹킷 브라우저) */
    pointer-events: auto;
}

.slick-slide img {
    pointer-events: none; /* 이미지 클릭 시 드래그 방지 */
}

.customMonth {
    width: 0;
    height: 0;
}

.main .sec02 .inner .institution_swiper .swiper-wrapper {align-items: center; cursor: unset !important;}
.main .sec02 .inner .institution_swiper .swiper-wrapper .swiper-slide {cursor: pointer;}
.mouseCursor{cursor: pointer;}

@media screen and (min-width: 1025px){
    .main .sec03 .inner .boxWrap .rightBox.aos-animate {width: 100%;}
}

.niceSelectCustom{
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: .9em;
    font-weight: normal;
    padding: .8em 1em;
    outline: none;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    color: #333;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 0;
    background: url(@/assets/images/ico_select_arrow.svg) calc(100% - 5px) center no-repeat;
}

.container .itemBox .niceSelectCustom{
    border-radius: .66rem;
    border: 1px solid #ddd;
    font-weight: 500;
    font-family: 'pretendard';
}

.container .itemBox.type2 .niceSelectCustom{
    border-radius: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
}