@charset "utf-8";

:root {
	--black: #333333;
	--mainColor: #04819B;
	--mainColor2: #FF504A;
}


html {scroll-behavior: smooth; background: #F7F7F7; font-size: 18px;}
#wrap {width: 100%; height: 100vh; height:calc(var(--vh, 1vh) * 100); letter-spacing: -.3px;} a {color: var(--black);}
body, select, input,textarea, button {color: var(--black); font-family:'Rubik', 'pretendard', sans-serif; letter-spacing: -.3px; font-size: 1rem;}
body {font-feature-settings: "cv02", "cv03", "cv04", "cv09", "tnum";}
input {font-size: .9rem;}
.gray {color: #999999;}
.green {color: var(--mainColor);}
.red {color: var(--mainColor2);}



@keyframes opacityMove {0% {opacity: 0;} 100% {opacity: 1;}}
@keyframes upMove {0% {transform: translateY(20px); opacity: 0;} 100% {transform: none; opacity: 1;}}
@keyframes downMove {0% {transform: translateY(-20px); opacity: 0;} 100% {transform: none; opacity: 1;}}
@keyframes downMove2 {0% {transform: translateY(-10px); opacity: 0;} 100% {transform: none; opacity: 1;}}
@keyframes upMove22 {0% {transform: translateY(10px); opacity: 0;} 100% {transform: none; opacity: 1;}}
@keyframes leftMove {0% {transform: translateX(20px); opacity: 0;} 100% {transform: none; opacity: 1;}}
@keyframes rightMove {0% {transform: translateX(-20px); opacity: 0;} 100% {transform: none; opacity: 1;}}
@keyframes scalremove {0% {transform: scale(.8); opacity: 0;} 100% {transform: none; opacity: 1;}}
@keyframes widthMove {0% {width: 0;} 100% {width: 100%;}}


header {position: sticky; top: 0; left: 0; z-index: 50;}
header .leftHeader {position: absolute; left: 0; top: 0; width: 200px; height: 100vh; box-shadow: 0 0 16px rgba(0, 0, 0, .05); background: #fff; padding-top: 3.5rem; z-index: 1; overflow-y: auto; padding-bottom: 20px; box-sizing: border-box;}
header .leftHeader::-webkit-scrollbar {width: 0;}
header .leftHeader .title {display: flex; justify-content: space-between; border-top: 1px solid #eee; border-bottom: 1px solid #eee; font-weight: 700; height: 3.5rem; align-items: center; box-sizing: border-box; font-size: 1.35rem; padding: .9rem 1.35rem; color: var(--mainColor2)}
header .leftHeader nav {padding: .9rem; position: relative;}
header .leftHeader nav .bg {content: ""; position: absolute; left: 50%; transform: translateX(-50%); top: 0; background: var(--mainColor); border-radius: .9rem; transition: .5s ease; z-index: -1;}
header .leftHeader nav .bg.hover {background: #04819B15; opacity: 0;}
header .leftHeader nav .dep {display: flex; flex-direction: column; gap: 4px;}
header .leftHeader nav .dep > li {padding: .8rem;}
header .leftHeader nav .dep > li a {display: flex; align-items: center; width: 100%; gap: .5rem; border-radius: .8rem; box-sizing: border-box; color: #999999; font-weight: 600; font-size: .9rem;}
header .leftHeader nav .dep li.active a {color: #fff;}
header .leftHeader nav .dep > li a .icon {width: .9rem; height: .9rem; background-repeat: no-repeat; background-size: contain; background-position: center;}
header .leftHeader nav .dep li:nth-child(1) a .icon {background-image: url(@/assets/images/ico_nav_icon01.svg);}
header .leftHeader nav .dep li:nth-child(1).active a .icon {background-image: url(@/assets/images/ico_nav_icon01_white.svg);}
header .leftHeader nav .dep li:nth-child(2) a .icon {background-image: url(@/assets/images/ico_nav_icon02.svg);}
header .leftHeader nav .dep li:nth-child(2).active a .icon {background-image: url(@/assets/images/ico_nav_icon02_white.svg);}
header .leftHeader nav .dep li:nth-child(3) a .icon {background-image: url(@/assets/images/ico_nav_icon03.svg);}
header .leftHeader nav .dep li:nth-child(3).active a .icon {background-image: url(@/assets/images/ico_nav_icon03_white.svg);}
header .leftHeader nav .dep > li a {font-family: 'pretendard';}
header .leftHeader nav .dep li ul a {font-size: 14px; opacity: .5;}
header .leftHeader nav .dep ul {display: none; flex-direction: column; gap: 8px; padding: 0 16px; padding-top: 12px;}
header .leftHeader nav .dep .dep3 {padding-top: 6px;}
header .leftHeader nav .dep li.active .dep2 {display: flex;}
header .leftHeader nav .dep2 li.active .dep3 {display: flex;}
header .leftHeader nav .dep li.active > a {opacity: 1;}
header .leftHeader .messageBtn {display: none;}
header .leftHeader .messageBtn .icon {width: 32px; height: 32px; /*background: url(@/assets/images/ico_message.svg) no-repeat center / contain;*/}
header .leftHeader .bottom {display: none;}

header .leftHeader .sitemap {position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; display: none;}
header .leftHeader .sitemap.open {display: block;}
header .leftHeader .sitemap .bg {position: absolute; top: 0; left: -100%; width: 100%; height: 100%; background: rgba(0, 0, 0, .5);}
header .leftHeader .sitemap.open .bg {animation: sitemapMove .5s cubic-bezier(0.52, 0.05, 0.4, 0.93) both;}
@keyframes sitemapMove {0% {left: -100%;} 100% {left: 0;}}
header .leftHeader .sitemap .sitemapBox {width: 80%; background: #fff; height: 100%; position: relative; border-radius: 0 16px 16px 0; overflow: hidden; padding: 24px; padding-bottom: 0; display: flex; flex-direction: column; justify-content: space-between; overflow-y: auto; box-sizing: border-box;}
header .leftHeader .sitemap.open .sitemapBox  {animation: sitemapMove .5s .1s cubic-bezier(0.52, 0.05, 0.4, 0.93) both;}
header .leftHeader .sitemap .closeBtn {position: absolute; top: 24px; right: 24px; z-index: 10;}
header .leftHeader .sitemap .closeBtn .icon {width: 24px; height: 24px; /*background: url(@/assets/images/ico_sitemap_close.svg) no-repeat center / cover;*/}
header .leftHeader .sitemap .sitemapBox .topBox {display: flex; flex-direction: column; gap: 24px; position: relative;}
header .leftHeader .sitemap.open .sitemapBox .topBox {animation: upMove 1s .3s ease both;}
header .leftHeader .sitemap .sitemapBox .profileBox {display: flex; gap: 12px; align-items: center;}
header .leftHeader .sitemap .sitemapBox .profileBox .imgBox {width: 64px; height: 64px; overflow: hidden; border-radius: 50%;}
header .leftHeader .sitemap .sitemapBox .profileBox .imgBox img {width: 100%; height: 100%; object-fit: cover;}
header .leftHeader .sitemap .sitemapBox .profileBox .textBox {display: flex; flex-direction: column; gap: 4px;}
header .leftHeader .sitemap .sitemapBox .profileBox .textBox .tt1 {font-size: 16px; color: #777;}
header .leftHeader .sitemap .sitemapBox .profileBox .textBox .bot {display: flex; font-size: 20px;}
header .leftHeader .sitemap .sitemapBox .profileBox .textBox .bot .moreBtn .icon {width: 24px; height: 24px; /*background: url(@/assets/images/ico_mypage_more_blue.svg) no-repeat center / contain;*/}
header .leftHeader .sitemap .sitemapBox .menu {padding: 12px 0; display: flex; flex-direction: column;}
header .leftHeader .sitemap.open .sitemapBox .menu {animation: upMove 1s .4s ease both;}
header .leftHeader .sitemap .sitemapBox .menu li a {padding: 12px 8px; font-size: 16px; font-weight: 500;}
header .leftHeader .sitemap .sitemapBox .botBanner {width: calc(100% + 24px);}
header .leftHeader .sitemap.open .sitemapBox .botBanner {animation: opacityMove 1s .5s ease both;}
header .leftHeader .sitemap .sitemapBox .botBanner .textBox .tt1 {margin-bottom: 14px; font-weight: 500;}
header .leftHeader .sitemap .sitemapBox .botBanner .textBox .tt2 {font-size: 24px; font-weight: 200;}
header .leftHeader .sitemap .sitemapBox .botBanner .textBox .tt3 {font-size: 32px; font-weight: 800;}
header .leftHeader .sitemap .sitemapBox .botBanner .textBox .tt4 {color: #DDDDDD; font-weight: 800; font-size: 14px;}
header .leftHeader .sitemap .sitemapBox .botBanner .textBox .center {display: flex; flex-direction: column; gap: 8px; font-family: 'Montserrat'; margin-bottom: 21px; line-height: 1;}
header .leftHeader .sitemap .sitemapBox .botBanner .textBox .moreBtn {width: 92px; height: 32px; display: flex; align-items: center; justify-content: center; color: #fff; background: var(--mainColor); border-radius: 12px; font-size: 14px; font-weight: 600;}
header .leftHeader .sitemap .sitemapBox .botBanner .imgBox {max-width: 256px; width: 70%; margin-left: auto; margin-top: -30px;}
header .leftHeader .sitemap .sitemapBox .botBanner .imgBox img {vertical-align: bottom;}

header .commonTop {width: 100%; background: #fff; box-sizing: border-box; display: flex; position: relative; z-index: 1; border-bottom: 1px solid #eee;}
header .commonTop h1 {width: 200px; display: flex; align-items: center; justify-content: center; flex: none; border-right: 1px solid #EEEEEE;}
header .commonTop .navBox {width: 100%; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; padding: 0 1.35rem;}
header .commonTop .lnbBox {position: relative; z-index: 1;}
header .commonTop .lnbBox .bg {content: ""; position: absolute; bottom: 0; left: 0; height: 3px; background: var(--mainColor2); transition: .5s ease; z-index: -1;}
header .commonTop .lnbBox .bg.hover {background: #FF504A15; opacity: 0;}
header .commonTop .lnbBox .dep {display: flex; gap: .9rem;}
header .commonTop .lnbBox .dep li a {padding: 4px; height: 3.5rem; display: flex; justify-content: center; align-items: center; box-sizing: border-box; font-weight: 600; font-family: 'pretendard';}
header .commonTop .lnbBox .dep li.active a {color: var(--mainColor2); font-weight: 700;}
header .commonTop .rightBox {display: flex; gap: .9rem; align-items: center; font-weight: 500;}
header .commonTop .rightBox .tt1 {font-size: .8rem;}
header .commonTop .rightBox .logoutBtn {width: 93px; height: 32px; display: flex; gap: 4px; border-radius: 8px; background: var(--black); color: #fff; display: flex; align-items: center; justify-content: center; font-size: 14px; transition: .5s ease;}
header .commonTop .rightBox .logoutBtn:hover {background: var(--mainColor);}
header .commonTop .rightBox .logoutBtn .icon {width: 16px; height: 16px; background: url(@/assets/images/ico_logout_white.svg) no-repeat center / contain;}
/*header .title .icon:hover {background-image: url(@/assets/images/ico_header_arrow_blue.svg);}*/
header .commonTop .profileWrap .infoBox .top .logoutBtn:hover {background: #fff; color: var(--black);}
header .commonTop .profileWrap .infoBox .bot button:hover {color: #fff;}


.container {margin-left: 200px; position: relative; width: calc(100% - 200px);}
.container .inner {max-width: 1400px; width: 100%; padding: 1.35rem; display: flex; flex-direction: column; gap: 1.35rem; box-sizing: border-box;}
.container .inner .pageTitle {font-size: 1.2em; font-weight: 700; color: var(--mainColor);}
.container .inner > * {opacity: 0; animation: upMove 1s ease both;}
.container li.toggleBox {display: flex; flex-direction: column; gap: .5rem; }
.container li.toggleBox .box {background: #F7F7F7; border-radius: .6rem; padding: .9rem; display: flex; justify-content: space-between; align-items: center; color: #999999; font-size: 14px;}
.container .nice-select .option.focus, .container .nice-select .option.selected.focus {background: #04819B15 !important; color: var(--mainColor);}

.container .cateWrap form {display: flex; gap: 8px; align-items: flex-end;}
.container .cateWrap form .cateList {display: flex; gap: 8px; align-items: flex-end; width: 100%;}
.container .cateWrap form .cateList > li {width:  100%;}
.container .cateWrap form .cateList .inputBox:not(.searchBox) {max-width: 240px;}
.container .cateWrap form .rightBtn {display: flex; gap: 8px; flex: none;}
.container .cateWrap form .rightBtn .refreshBtn .icon {background-image: url(@/assets/images/ico_refresh_white.svg);}
.container .cateWrap form .rightBtn .searchBtn .icon {background-image: url(@/assets/images/ico_search_white.svg);}

.container .board .tableBox.type1 {overflow-x: auto;}
.container .board .tableBox.type1 table {min-width: 1280px;}
.container .board.type1 .tableBox.type1 table .th1 {width: 6.8%;}
.container .board.type1 .tableBox.type1 table .th2 {width: 12.8%;}
.container .board.type1 .tableBox.type1 table .th3 {width: 20%;}
.container .board.type1 .tableBox.type1 table .th5 {width: 90px;}
.container .board.type1 .tableBox.type1 table tbody td:nth-child(n+8) {padding: 0; padding-left: 8px;}
.container .board.type2 .tableBox.type1 table .th1 {width: 7%;}
.container .board.type2 .tableBox.type1 table .th2 {width: 13.3%;}
.container .board.type2 .tableBox.type1 table .th3 {width: 16.3%;}
.container .board.type2 .tableBox.type1 table .th5 {width: 12%;}
.container .board.type2 .tableBox.type1 table .th6 {width: 70px;}
.container .board.type2 .tableBox.type1 table tbody td:nth-child(7) {padding: 0; padding-left: 8px;}
.container .uploadModal.modalCon .boxWrap {max-width: 480px;}
.container .uploadModal .boxWrap form {display: flex; flex-direction: column; gap: .9rem;}
.container .uploadModal .boxWrap .botText {font-size: .8rem; color: #999; font-weight: 600;}
.container .uploadModal .boxWrap .botText .point {color: var(--mainColor); text-decoration: underline;}

.container .inner .infoWrap {border-radius: .9rem; background: #fff; box-shadow: 0 0 16px rgba(0, 0, 0, .05); display: flex; flex-direction: column; gap: .9rem; padding: 1.35rem;}
.container .inner .infoWrap .topTitle {font-size: 1.1rem; font-weight: 700;}
.container .inner .infoWrap .inputWrap {display: flex; flex-wrap: wrap; gap: .9rem;}
.container .inner .infoWrap .inputWrap li {width: 100%;}
.container .inner .infoWrap .inputWrap li.width3 {width: calc(100% / 3 - .6rem);}
.container .inner .infoWrap .inputWrap li.toggleBox {padding-top: 1.4rem;}
.container .inner .infoWrap .inputWrap .inputBox.type1 textarea {height: 8.8rem;}
.container .inner .infoWrap .buttonBox {display: flex; justify-content: space-between;}
.container .inner .infoWrap .buttonBox .leftBox {display: flex; gap: 8px;}

.container .company_info {display: flex; justify-content: space-between; align-items: center; padding: 1.35rem; border-radius: .9rem; background: #fff; box-shadow: 0 0 16px rgba(0, 0, 0, .05); font-weight: 500;}
.container .company_info .left {display: flex; gap: 1.35rem; align-items: center;}
.container .company_info .left .logo {max-width: 140px; width: 100%;}
.container .company_info .left .logo img {vertical-align: bottom;}
.container .company_info .left .name {font-size: 1.35rem;}
.container .company_info .right {display: flex; gap: 1.35rem;}
.container .company_info .right li  {display: flex; flex-direction: column; gap: .5rem;}
.container .company_info .right li .tt1 {color: #999; font-size: .8rem;}
.container .company_info .right li .tt2 {font-size: .9rem;}


.container .deletModal.modalCon .boxWrap {max-width: 320px;}
.container .deletModal .boxWrap .box {display: flex; flex-direction: column; gap: .9rem; margin-top: 0;}
.container .deletModal .boxWrap .text {text-align: center; font-size: 14px;}
.container .deletModal .boxWrap .buttonBox .clickBtn {width: auto; height: 2rem; padding: 0 .9rem; font-size: 14px; border-radius: .5rem;}

.cms .inner .contBox {flex-direction: row; align-items: flex-start;}
.cms .inner .contBox > .box {width: 100%; border-radius: .9rem; background: #fff; box-shadow: 0 0 16px rgba(0, 0, 0, .05); display: flex; flex-direction: column; padding: 1.35rem; gap: .9rem; box-sizing: border-box;}
.cms .inner .contBox > .box .topTitle {font-size: 1.1rem; font-weight: 700;}
.cms .inner .contBox > .box .buttonBox {display: flex; justify-content: space-between; gap: .5rem;}
.cms .inner .contBox > .box .buttonBox > div {display: flex; gap: .5rem;}
.cms .inner .contBox > .box .buttonBox.bot {justify-content: flex-start;}
.cms .inner .contBox .listBox .menuBox {border-radius: .8rem; padding: .9rem; display: flex; flex-direction: column; gap: .8rem; background: #F7F7F7;}
.cms .inner .contBox .listBox .menuBox > li {display: flex; flex-direction: column; gap: .5rem;}
.cms .inner .contBox .listBox .menuBox > li .title1, .cms .inner .contBox .listBox .menuBox > li .title2 {display: flex; gap: 6px; font-size: 14px; align-items: center; cursor: pointer;}
.cms .inner .contBox .listBox .menuBox .icon {width: 20px; height: 20px; background: url(@/assets/images/ico_menu.svg) no-repeat center / contain;}
.cms .inner .contBox .listBox .menuBox > li.open .icon {background-image: url(@/assets/images/ico_menu_open.svg)}
.cms .inner .contBox .listBox .menuBox > li .title1 {font-weight: 600;}
.cms .inner .contBox .listBox .menuBox .lnb2 {padding: 0 .6rem; display: flex; flex-direction: column; gap: .5rem; display: none;}
.cms .inner .contBox .listBox .menuBox > li.open .lnb2 {display: flex;}
.cms .inner .contBox .listBox .menuBox .lnb2 .title2 {color: rgba(51, 51, 51, .8); font-weight: 500;}
.cms .inner .contBox .listBox .menuBox .lnb2 .title2 .icon {background-image: url(@/assets/images/ico_menu2.svg);}
.cms .inner .contBox .infoBox .listBox {display: flex; flex-wrap: wrap; gap: .9rem;}
.cms .inner .contBox .infoBox .listBox > li {width: 100%;}
.cms .inner .contBox .infoBox .listBox > li.width3 {width: calc(100% / 3 - .6rem);}

.cms .programModal .boxWrap {}
.cms .programModal .boxWrap .tableBox.type1 table .th1 {width: 12%;}
.cms .programModal .boxWrap .tableBox.type1 table .th2 {width: 22.4%;}
.cms .programModal .boxWrap .tableBox.type1 table .th4 {width: 70px;}
.cms .programModal .boxWrap .tableBox.type1 table tbody td:nth-child(4) {padding: 0; padding-left: 8px;}

.login {padding: 0; display: flex; position: relative; margin-left: 0; width: 100%;}
.login .leftWrap {max-width: 640px; width: 35%; flex: none; overflow: hidden; height: calc(var(--vh, 1vh)* 100); animation: rightMove 1s .2s ease both;}
.login:after {content: ""; position: absolute; width: 35%; max-width: 640px; background: var(--mainColor); left: 0; top: 0; animation: rightMove 1s ease both; z-index: -1;}
.login .leftWrap img {width: 100%; height: 100%; object-fit: cover; animation: loginBg 2s ease both;}
@keyframes loginBg {0% {transform: scale(1.05); filter: blur(8px);} 100% {transform: none; filter: none;}}
.login .rightWrap {width: 100%; display: flex; align-items: center; justify-content: center; padding: 1rem 3.2rem; box-sizing: border-box;}
.login .rightWrap h1 img {max-width: 128px; width: 90%;}
.login .rightWrap .inner {max-width: 480px; padding: 0; width: 100%; gap: 1.7rem;}
.login .rightWrap .inner .box {display: flex; flex-direction: column; gap: .6rem;}
.login .rightWrap .inner .box .inputWrap {display: flex; flex-direction: column; gap: .6rem;}
.login .rightWrap .inner .box .checkBox input[type="checkbox"] + small {color: #999;}
.login .rightWrap .inner .box .loginBtn {height: 3.55em; border-radius: .6rem; background: var(--mainColor); color: #fff; display: flex; align-items: center; justify-content: center; transition: .5s ease; font-weight: 500;}
.login .rightWrap .inner .box .loginBtn:hover {box-shadow: inset 0 0 15px rgba(255, 255, 255, .8)}


/* 홈 */
.container.home { width: 100% !important;}
.home header .leftHeader {display: none;}
.home .container {margin-left: 0; width: 100%;}
.home .inner {max-width: 1600px; flex-direction: row; gap: 24px;}
.home .inner .leftBox {width: 40.8%; flex: none; display: flex; flex-direction: column; gap: 24px;}
.home .inner .leftBox .cont {display: flex; flex-direction: column; gap: 16px;}
.home .inner .leftBox .cont .list {display: flex; gap: 16px;}
.home .inner .leftBox .cont .list li {width: 100%; border-radius: 16px; background: #fff; box-shadow: 0 0 16px #00000005; padding: 22px 16px; display: flex; flex-direction: column; gap: 10px; align-items: flex-start;}
.home .inner .leftBox .cont .list li .tt1 {font-weight: 600; font-size: 16px; color: #333;}
.home .inner .leftBox .cont .list li .tt2 {font-size: 20px; font-weight: 600; color: #ff504a; position: relative; display: inline-block;}
.home .inner .leftBox .cont .list li .tt2:after {content: ""; position: absolute; width: 100%; height: 2px; background: #ff504a; bottom: 0; left: 0; transition: .5s ease;}
.home .inner .leftBox .cont .list li .tt2:hover:after {animation: widthMove 1s ease both;}
.home .inner .leftBox .cont04 .tableBox .th1 {width: 15.5%;}
.home .inner .leftBox .cont04 .tableBox .th3 {width: 14%;}
.home .inner .leftBox .cont04 .tableBox .th4 {width: 20%;}
.home .inner .leftBox .cont04 .tableBox .th5 {width: 13%;}
.home .inner .leftBox .cont04 .tableBox td p {font-weight: 500; font-family: 'pretendard'}
.home .inner .leftBox .cont04 .tableBox td:nth-child(2) p {overflow: hidden; word-break: break-word; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
.home .inner .leftBox .cont04 .tableBox td:last-child p {font-size: 14px; font-weight: 600;}
.home .inner .leftBox .cont04 .tableBox td:last-child p.waiting {color: #FF504A;}
.home .inner .leftBox .cont04 .tableBox td:last-child p.complete {color: #999;}
.home .inner .leftBox .cont04 .tableBox tr {transition: .5s ease; cursor: pointer;}
.home .inner .leftBox .cont04 .tableBox tr:hover {background: #04819B15;}
.home .inner .calendarWrap {display: flex; flex-direction: column; gap: 16px; width: 100%;}
.home .inner .calendarWrap .topBox {display: flex; gap: 24px; align-items: center; justify-content: center;}
.home .inner .calendarWrap .topBox .arrowBtn {position: relative; z-index: 1;}
.home .inner .calendarWrap .topBox .arrowBtn .icon {position: relative; z-index: 1; width: 22px; height: 22px; background: url(@/assets/images/ico_arrow_left_black.svg) no-repeat center / contain; transition: .5s ease;}
.home .inner .calendarWrap .topBox .nextBtn .icon {transform: rotateY(180deg);}
.home .inner .calendarWrap .topBox .arrowBtn:after {content: ""; width: 100%; height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0); padding: 5px; border-radius: 50%; z-index: -1; background: var(--black); transition: .5s ease;}
.home .inner .calendarWrap .topBox .arrowBtn:hover .icon {background-image: url(@/assets/images/ico_arrow_left_white.svg);}
.home .inner .calendarWrap .topBox .arrowBtn:hover:after {transform: translate(-50%, -50%);}
.home .inner .calendarWrap .topBox .itemBox .nice-select {padding: 0; background: transparent; width: 90px; align-items: center; border: none; border-radius: 0;}
.home .inner .calendarWrap .topBox .itemBox .nice-select .current {font-size: 22px; font-weight: 700;}
.home .inner .calendarWrap .topBox .itemBox .nice-select:after {top: 50%; transform: translateY(-50%); right: 0;}
.home .inner .calendarWrap .topBox .monthBox .itemBox .nice-select {width: 62px;}
.home .inner .calendarWrap .calendarBox {padding: 16px; background: #fff; border-radius: 16px; box-shadow: 0 0 16px #00000005;}
.home .inner .calendarWrap .calendarBox table tr {border-bottom: 1px solid #DDDDDD;}
.home .inner .calendarWrap .calendarBox table tr > * {vertical-align: top; font-family: 'pretendard';}
.home .inner .calendarWrap .calendarBox table tr > *:not(:last-child) {border-right: 1px solid #ddd;}
.home .inner .calendarWrap .calendarBox table thead th {width: calc(100% / 7); font-size: 14px; font-weight: 500; color: #111; text-align: center; height: 24px;}
.home .inner .calendarWrap .calendarBox table tbody td {position: relative; height: 140px; padding: 12px;}
.home .inner .calendarWrap .calendarBox table tbody .date {text-align: right; font-weight: 700;}
.home .inner .calendarWrap .calendarBox table tbody .date.gray {color: #BBBBBB; font-weight: 500}
.home .inner .calendarWrap .calendarBox table tbody .date.today {color: var(--mainColor);}
.home .inner .calendarWrap .calendarBox table tbody .list {display: flex; flex-direction: column; gap: 7px; margin-top: 12px; align-items: flex-start;}
.home .inner .calendarWrap .calendarBox table tbody .list > * {font-size: 14px; display: flex; align-items: center; gap: 4px; color: #777777; display: inline-flex; position: relative;}
.home .inner .calendarWrap .calendarBox table tbody .list > *:after {content: ""; position: absolute; width: 100%; height: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 5px; border: 1px solid var(--mainColor2); padding: 3px 4px; opacity: 0; transition: .5s ease;}
.home .inner .calendarWrap .calendarBox table tbody .list > *:hover:after {opacity: 1;}
.home .inner .calendarWrap .calendarBox table tbody .list p {font-weight: 500;}

@media screen and (max-width: 1600px) {
	body {min-width: 1600px; overflow-x: scroll;}
}
