@charset "utf-8";

:root {
    --black: #111111;
    --mainColor: #04819B;
    --mainColor2: #FF504A;
}

.selectGroup {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: .9em;
    font-weight: normal;
    padding: .8em 1em;
    outline: none;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto; color: #333;display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 0;
    background: url(@/assets/images/ico_select_arrow.svg) calc(100% - 5px) center no-repeat;
}

.footerSelect {
    padding: .4rem 2rem .4rem .9rem;
    color: var(--black);
    font-weight: 600;
    border-radius: 1.2rem;
    transition: .5s ease;
    background: #fff url(@/assets/images/ico_select_arrow.svg) calc(100% - 5px) center no-repeat;
}

.langSelect {
    padding: .4rem 2rem .4rem .9rem;
    width: 4.22rem;
    box-sizing: border-box;
    border-radius: 1.6rem;
    background-color: var(--black);
    color: #fff;
    font-weight: 600;
    background: black url(@/assets/images/ico_select_arrow_white.svg) calc(100% - 5px) center no-repeat;
}

.slider-container {
    min-height: 0;
    min-width: 0;
    padding: 20px;
}

.sliderInDiv {
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 1rem 1rem;

}

.customInnerDiv {
    display: flex;
    flex-direction: column;
    gap: .9rem;
    padding: 1.35rem;
}
.customUl{
    display: flex;
    flex-wrap: wrap;
    gap: .9rem;
}
.inputBox.width1{ width: 100% !important; }
.inputBox.width2{ width: calc(100% / 2 - .6rem) !important; }
.container .blueText {color: #11c1e7; font-size: 12px; font-weight: 600; font-family: 'pretendard';}

.tabs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
.tabs li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 2.5rem;
    justify-content: center;
    border-radius: .6rem;
    font-size: .9rem;
    font-weight: 600;
    box-sizing: border-box;
    transition: .5s ease;
}
.tabs li.tabActive {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--mainColor);
    color: #fff;
    border-radius: .6rem;
    font-size: .9rem;
    font-weight: 600;
    box-sizing: border-box;
    transition: .5s ease;
}


@media screen and (max-width: 1400px) {
    .main .sec01 .bg img {transform: scale(10.05);}
}

@media screen and (max-width: 1200px) {
    .main .sec01 .bg img {transform: scale(10.05);}
}

@media screen and (max-width: 1024px) {
    .main .sec01 .bg img {transform: scale(10.05);}
}

@media screen and (max-width: 768px) {
    .main .sec01 .bg img {transform: scale(10.05);}
}

.customUserSelect{
    background-color: #fff;
    border-radius: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
}

.search .inner2 .searchFormWrap .searchBox .inputBox.type1.date{ max-width : 11rem !important;}

.noneTag{ opacity: 0; position: absolute; width: 0;}

header .hInner .hTop .alarmWrap.click .close {position: absolute; right:  0; z-index: 10; width: 36px; margin-top: 5px; height: 24px; cursor: pointer;}
header .hInner .hTop .alarmWrap.click .close .icon {height: 100%; background: url(../../assets/images/ico_close.svg) no-repeat center / contain;}

.user .modalCon .boxWrap .close {position: absolute; top: -2rem; right:  0; z-izndex: 10; width: 24px; height: 24px; cursor: pointer;}
.user .modalCon .boxWrap .close .icon {height: 100%; background: url(../../assets/images/ico_close_white.svg) no-repeat center / contain;}
.user .customUserModal .boxWrap .box{
    margin-top: 0;
    max-height: calc(100vh - 4rem);
    gap: .9rem;
}


.user .customUserModal .boxWrap {overflow: visible; max-width: 420px;}
.user .customUserModal .boxWrap .close {position: absolute; top: -2rem; right:  0; z-izndex: 10; width: 24px; height: 24px; cursor: pointer;}
.user .customUserModal .boxWrap .close .icon {height: 100%; background: url(../../assets/images/ico_close_white.svg) no-repeat center / contain;}
.user .customUserModal .boxWrap .box {margin-top: 0; max-height: calc(100vh - 4rem); gap: .9rem;}
.user .customUserModal .boxWrap .box .logo {max-width: 140px; width: 60%; margin: 0 auto; margin-bottom: .3rem;}
.user .customUserModal .boxWrap .box .logo img {width: 100%; object-fit: contain;}
.user .customUserModal .boxWrap .box .inputWrap {display: flex; flex-direction: column; gap: .9rem;}
.user .customUserModal .boxWrap .box .checkBox.type2 input[type="checkbox"]::before {background: #fff;}
.user .customUserModal .boxWrap .box .checkBox.type2 input[type="checkbox"]:checked::before {background: var(--black);}
.user .customUserModal .boxWrap .box .checkBox.type2 input[type="checkbox"] + small {color: #111;}
.user .customUserModal .boxWrap .box .loginBtn {width: 100%; height: 3rem; flex: none; border-radius: .5rem; display: flex; align-items: center; justify-content: center; background: var(--black); color: #fff; font-size: 1.1rem; font-weight: 600; transition: .5s ease;}
.user .customUserModal .boxWrap .box .botBtnBox {display: flex; gap: 1rem; justify-content: center;}
.user .customUserModal .boxWrap .box .botBtnBox li {position: relative;}
.user .customUserModal .boxWrap .box .botBtnBox li button {font-size: .9rem; font-weight: 500; transition: .5s ease;}
.user .customUserModal .boxWrap .box .botBtnBox li:not(:last-child):after {content: ""; position: absolute; top: 50%; transform: translateY(-50%); right: -.5rem; width: 1px; height: .9rem; background: #ddd;}


.signUpRadio{
    width: 18px !important;
}