@charset "utf-8";

:root {
    --black: #111111;
    --mainColor: #04819B;
    --mainColor2: #FF504A;
}

.selectGroup {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: .9em;
    font-weight: normal;
    padding: .8em 1em;
    outline: none;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto; color: #333;display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 0;
    background: url(@/assets/images/ico_select_arrow.svg) calc(100% - 5px) center no-repeat;
}

.footerSelect {
    padding: .4rem 2rem .4rem .9rem;
    color: var(--black);
    font-weight: 600;
    border-radius: 1.2rem;
    transition: .5s ease;
    background: #fff url(@/assets/images/ico_select_arrow.svg) calc(100% - 5px) center no-repeat;
}

.langSelect {
    padding: .4rem 2rem .4rem .9rem;
    width: 4.22rem;
    box-sizing: border-box;
    border-radius: 1.6rem;
    background-color: var(--black);
    color: #fff;
    font-weight: 600;
    background: black url(@/assets/images/ico_select_arrow_white.svg) calc(100% - 5px) center no-repeat;
}

.slider-container {
    min-height: 0;
    min-width: 0;
    padding: 20px;
}